<%- include('./includes/header') %>
<%- include('./includes/nav') %>

    <main class="container">
        <div class="register-container">
            <h1>É novo aqui? Registre-se:</h1>
            <div class="col my-3">
                <div class="alert alert-danger">
                    <ul>
                        <li>Os campos não podem estar vazios;</li>
                        <li>Usuário só poderá conter letras e/ou números;</li>
                        <li>Usuário deverá ter entre 3 e 30 caracteres;</li>
                        <li>Senha precisa ter entre 6 e 12 caracteres.</li>
                    </ul>
                </div>
            </div>
            <form action="/register" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <label class="login-label" for="usuario">Nome de usuário:</label>
                <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Nome de usuário"
                    aria-label="Nome de usuário" aria-describedby="basic-addon1" />
                <label class="senha-label" for="senha">Senha:</label>
                <input type="text" name="senha" id="senha" class="form-control input-passwd" placeholder="Senha" aria-label="Senha"
                    aria-describedby="basic-addon1">
                <button class="btn btn-success" id="login-button">Registrar</button>
                <p id="create-account">Já tem uma conta? <a href="/">Faça login.</a></p>
            </form>
        </div>
    </main>

<%- include('./includes/footer') %>